{
    "presets": [
        "@babel/typescript",
        ["env",{"targets":{"node": "current"}}]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        ["module-resolver", {
            "root": ["./dist"],
            "alias": {
                "test": "./test"
            }
        }]
    ]
}
